.screen {
    margin-top: 50px;
  margin-bottom: 50px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border-style:solid;
    border-width: 2px;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    }

.center {
    margin: auto;
    
}


